<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
  <h1>Games list for <%= steamID %></h1>
  <img src="<%= avatar %>">
  <ul>
  <% for(var i=0; i<games.length; i++) {%>
      <% if(games[i].img_logo_url){ %>
      <li>
          <span class="image"><img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= games[i].appid %>/<%= games[i].img_logo_url %>.jpg" alt=""></span>
          <span class="name"><%= games[i].name %></span>
      </li>
      <% } %>
  <% } %>
  </ul>

  </body>
</html>